.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  h4 {
    text-align: center;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  &__item {
    list-style: none;
    margin: 0.05rem;
  }
  &__btn {
    background-color: var(--primary);
    color: white;
    padding: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 0 1rem 1rem rgba(rgb(136, 136, 153), 0.3);
  }
}
