
.top-performers {
    padding: 2rem 2rem;
    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            margin: .4rem;
            padding: .7rem;
            border-radius: 50px;
            width: 14rem;
            background-color: var(--primary);
            border: none;
            color: white;
            cursor: pointer;
            :active {
                outline: none;
            }
        }
    }
    h3 {
        text-align: center;
        margin-top: 1rem;
    }
  }
  .top-performers__header {
    color: var(--color-secondary-dark);
    font-size: var(--font-size-medium);
    text-align: center;
    margin-top: 2rem;
  }
  
  .top-gainer-list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    padding: 1rem 3rem;
  }
  
  @media screen and (max-width: 500px) {
    .top-gainer-list-wrapper {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1rem;
      padding: 1rem 1rem;
    }

  }