.currency-converter {
  padding: 7.5rem 6rem;
  min-height: 100vh;
  /* background-color: white;
      background-image: linear-gradient(to right, rgba(79, 172, 254, 0.5) 0%, rgba(0, 242, 254, .7) 100%), 
      url("https://www.ledger.com/wp-content/uploads/2019/04/blogpost-crypto-secure.png"); */
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-items: center;
  &__header {
    font-size: var(--font-size-medium);
    text-align: center;
    /* color: white; */
  }
  &__saved-container--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
  }
  &__btc-icon {
    color: var(--primary);
    font-size: 62px;
    opacity: .3;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .currency-converter {
    grid-template-columns: 1fr;
    align-items: center;
    &__header {
      font-size: var(--font-size-small);
    }
  }
}

@media screen and (max-width: 320px) {
  .currency-converter {
      padding: 1rem 0;
      padding: 12rem 1rem;
  }
}
