.cell {
    padding: 1rem;
    display: grid;
    grid-template-columns: 17.5% 13% 7% 15% 5% 15% 6%;  
    justify-items: center;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
    &__item {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
      border-radius: 5px;
      width: 10rem;
      font-size: var(--font-size-small);
      z-index: 0;
      button {
        background: none;
        border: none;
        cursor: pointer;
        :active {
          outline: none
        }
      }
      i {
        margin-left: 0.4rem;
        display: inline-block;
      }
    }
    &__item:active {
      color: var(--yellow);
    }
    &__form {
      position: relative;
      label {
        font-size: var(--font-size-small);
      }
      input {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -57%;
        left: 32%;
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .cell {
      padding: 0;
      grid-template-columns: 22% 7% 13% 9% 9% 12% 9%;
  
      &__item {
        width: 9rem;
        box-shadow: none;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .cell {
      padding: 0;
      grid-template-columns: 20% 5% 21% 7% 21% 7% 18%;
  
      &__item {
        width: 9rem;
        box-shadow: none;
        flex-direction: column;
        i {
          // display: none;
        }
      }
    }
  }
  