.btc-price-container {
    height: 11rem;
    margin-top: 1rem;
}

.btc-price-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btc-price-text {
    color: white;
    font-size: var(--font-size-small);
    margin: 4rem;
}

@media screen and (max-width: 500px) {
    .btc-price-container {
        margin: 1rem 4rem;
    }
}