
.market-prices__header-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
}

.top-performers__container {
    padding: 5rem 4rem;
}
.top-performers__header {
    color: var(--color-secondary-dark);
    font-size: var(--font-size-medium);
    text-align: center;
    margin-top: 2rem;
}

.top-gainer-list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
}

.crypto-market-header {
    color: rgb(83, 62, 83);
    font-size: var(--font-size-small);
    
}


.value {
    display: flex;
    justify-content: center;
    align-items: center;
}


.value-link {
    color: var(--color-secondary-dark);
    cursor: pointer;
    margin-left: .4rem;
}

.value-link:hover {
    text-decoration: underline;
}

.list-container, 
.list-values,
.crypto-values {
    border: 1px solid rgb(235, 240, 241, 0.5);
    padding: 1.8rem 0;
    

}


.list-values {
    display: grid;
    grid-template-columns: 9.28% 12.78% 12.48% 16.38% 16.28% 16.28% 16.28%;
    list-style: none;
    justify-items: start;
    font-weight: 700;
    font-size: var(--font-size-small);
    /* color: rgb(83, 62, 83); */
    padding-left: 5rem;
    margin-top: 4rem;


    
}

.list-value {
    /* color: rgb(83, 62, 83); */
    list-style: none;
    background-color: white;

    
     
}

.crypto-value-display {
    height: 10rem;
    width: 20rem;
}

@media screen and (max-width: 1024px) {
    .top-performers__container {
        padding: 5rem 0rem;
    }
}

@media screen and (max-width: 768px) {
    .list-values,
    .list-value {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .hide-mobile {
        display: none;
    }

    .top-gainer-list-wrapper {
        grid-template-columns: 1fr;
        margin-top: 2rem;
        padding: 2rem;
    }

    .list-values,
    .list-container {
        padding: .5em 0;

    }

    .list-values {
        font-size: var(--font-size-small);
        grid-template-columns: 11.28% 12.78% 22.18% 17.08% 19.28% 15.28%;

    }

    .crypto-values {
        padding: 1em;
    }
}
  