
.market-prices__header-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
}
.crypto-market-header {
    color: rgb(83, 62, 83);
    font-size: var(--font-size-small);
    
}

.value-link {
    color: var(--color-secondary-dark);
    cursor: pointer;
    text-decoration: underline;
}

.list-container, 
.list-values,
.crypto-values {
    background-color: white;
    border: 1px solid rgb(235, 240, 241, 0.5);
    padding: 1.9rem;

}


.list-values {
    display: grid;
    grid-template-columns: 10.28% 12.78% 12.18% 16.08% 16.28% 16.28% 16.28%;  
    list-style: none;
    justify-items: start;
    font-weight: 700;
    font-size: var(--font-size-small);
    color: rgb(83, 62, 83);
    padding-left: 5rem;
    margin-top: 4rem;


    
}

.list-value {
    color: rgb(83, 62, 83);
    list-style: none;
    
     
}

.crypto-value-display {
    height: 10rem;
    width: 20rem;
}

@media screen and (max-width: 768px) {
    .list-values,
    .list-value {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {

    .list-values,
    .list-container {
        padding: .5em 0;

    }

    .list-values {
        font-size: var(--font-size-verysmall);
        grid-template-columns: 10.28% 12.78% 12.18% 16.08% 16.28% 16.28% 16.28%;  

    }

    .crypto-values {
        padding: 1em;
    }
}
  