

.crypto-values-list {
    display: grid;
    grid-template-columns: 10.28% 12.28% 12.28% 16.28% 16.28% 16.28% 16.28%;  
    justify-items: start;
    margin-left: 4rem;
    
}

.crypto-value {
    font-weight: 400;
    font-size: var(--font-size-small);
    align-self: start;
    
}

.crypto-img {
    width: 20%; 
}

.percentage-change {
    color: white;
}

.bold {
    font-weight: 700;
}

.blue-text {
    color: var(--color-secondary-light);
}

@media screen and (max-width: 500px) {
    .crypto-values {
        padding: 1em;
    }

    .crypto-values-list {
        padding: .5rem 0 .5rem 0rem;
        margin-left: 0;
    }

    .crypto-img {
        width: 30%; 
    }
    .crypto-value {
        font-size: var(--font-size-verysmall);
    }
}