.exchanges-list__container {
    padding: 10rem 4rem;
    background-color: white;
}

.exchanges-list__wrapper {
    margin-top: 5rem;
}

.top-currencies__exchanges__container {
    padding: 5rem 0;

}

.top-currencies__exchanges__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5rem;
    grid-gap: 2rem;
    
}


