.exchanges-item-container {
    margin-top: 2rem;
    border: .3px solid rgba(212, 212, 212, .3);
    padding: 2rem 3rem;
    /* background-color: var(--color-secondary-dark); */
    background-color: var(--color-secondary-light-hover);
    background-color: slateblue;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    line-height: 1.7;
}


.exchange-header {
    font-size: var(--font-size-medium);
    color: white;
}

.exchange-currency {
    margin-left: 2rem;
    font-size: var(--font-size-small);
  

}
.exchange-details {
    font-size: var(--font-size-small);
    list-style: none;
    color: white;

}

.exchange-currency h4 {
    color: var(--color-secondary-dark);
}
details {
    color: var(--color-secondary-dark);
}
.exchange-details {
    color: slateblue;
}

.exchange-list {
    list-style: none;
    
}
.pair-paragraph {
    font-size: var(--font-size-verysmall);
    color: white;
    background-color: rgb(152, 152, 155);
}

details {
    color: var(--color-secondary-dark);
    color:white;
}
.pairs-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: 5rem;
}

.pair {
    margin-left: 2rem;
    background-color: slateblue;
    padding: .2rem .4rem;
    border-radius: 5px;
}

.pair-header {
    color: var(--color-primary-dark);
}

@media screen and (max-width: 500px) {
    .pairs-list {
        flex-direction: column;
    }

    .pair {
        margin-top: .2rem;
        width: 5rem;
    }
}