.exchanges-list__container {
    padding: 3rem 4rem;
}

.exchanges-list__wrapper {
    margin-top: 5rem;
}

.top-currencies__exchanges__container {
    padding: 5rem 0;

}

.top-currencies__exchanges__header {
    color: var(--color-secondary-dark);
    font-size: var(--font-size-medium);
    text-align: center;
    margin-top: 2rem;

}

.top-currencies__exchanges__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5rem;
    grid-gap: 2rem;
    
}

@media screen and (max-width: 500px) {
    .top-currencies__exchanges__wrapper {
        grid-template-columns: repeat(3, 1fr);
     
        
    }
}




