.navbar {
    /* background-image: linear-gradient(135deg, #666fea 0%, #1965a3 100%);     */
    padding: 2rem 2rem;
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 3;
}

.navbar-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-link, .nav-summary {
    font-size: var(--font-size-small);
    opacity: .9;
    margin: 0 2em;
    text-transform: uppercase;

}

.navbar-link a:hover {
    color: var(--color-secondary-light);
    transform: translateY(-.05rem);
}

.navbar-link a:focus {
    color: rgb(12, 44, 77);
    font-weight: 700;

}

.nav-dropdown[open] .nav-summary__dropdown {
    animation: fade-in 0.5s forwards;
    height: 12rem;
    background-color: var(--color-secondary-dark);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2rem;
}

@keyframes fade-in {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.nav-summary {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    outline: none;
    
   
}

.night-mode__switch__container {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.onoffswitch {
    position: relative; 
    width: 84px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    margin-left: 4rem;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: .7px solid #999999; 
    border-radius: 25px;
    margin-top: -.5rem;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: rgb(83, 62, 83); 
    color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    color: #FFFFFF; 
    background-color: #b1a6a6;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 19px;
    height: 19px;
    margin-right: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    bottom: 12px;
    right: 54px; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.hide-desktop {
    display: none;
}

.night-mode__label {
    color: white;
    margin-left: 2rem;
    font-size: var(--font-size-verysmall);
    text-transform: uppercase;
}

.night-mode__paragraph {
    color: white;
    margin-left: 1.3rem;
}


@media screen and (max-width: 850px) {

    .show-tablet {
        display: block;
    }
    .navbar {
        height: 5rem;
    }
    .hamburger-bar,
    .exit {
        position: absolute;
        top: 20%;
        right: 3%;
        color: white;
        z-index: 5;
        cursor: pointer;
    }

    .exit {
        right: 3.25%;
    }

    
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        /* background-image: linear-gradient(135deg, #667eea 0%, #195aae 100%);     */
        background-image: inherit;
        top: 0%;
        left: 0%;
        padding: 0;
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: all ease-in-out .1s;
        opacity: .95;
        
    }

    .navbar-link {
        text-transform: uppercase;
        font-size: var(--font-size-mediumbig);
        margin: 0 .7em;
    }

    
    .navbar-link {
        border-top: 2px solid rgba(229, 246, 252, 0.3);
        width: 100%;
    }

    .nested-link {
        margin-left: 8rem;
        font-size: var(--font-size-medium);
    }

    .navbar-links.open {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }

    .navbar-links.close {
        display: none;
    }

    
}


@media screen and (max-width: 768px) {
    .onoffswitch {
        margin-top: 1.5rem;
        margin-left: 1.3rem;
       
    }
    
}
