.news-item {
    padding: 3rem;
    line-height: 1;
    display: flex;
    height: 30rem;
    flex-direction: row;    
    align-items: center;
    box-shadow: 0 1rem 1rem rgba(54, 51, 51, 0.5);
    background: white;

   
}

.news-item__right a {
    text-decoration: none;
    color: var(--color-primary-dark)
}

.news-item__left img {
    width: 20rem;
    height: 20rem;
    border-radius: 3px;
}

.news-item__right {
    padding: 4rem;
}
.news-header {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
    text-decoration: underline;
    color: var(--color-secondary-dark);
}

.news-item-paragraph {
    font-size: var(--font-size-small);
    line-height: 1.7;
    margin-top: 1.5rem;

}

.categories {
    color: var(--color-secondary-dark);
    margin-top: 1rem;
    font-size: var(--font-size-verysmall);
}

.read-more__wrapper {
    display: flex;
    justify-content: flex-end;
}

.read-more__wrapper a {
    font-size: var(--font-size-small);
    color: var(--color-secondary-dark);
}

@media screen and (max-width: 1024px) {

    .news-item {
        height: 47rem;
    }

    .news-item__left img {
        width: 15rem;
        height: 15rem;
    }
    

}

@media screen and (max-width: 500px) {

    .news-item {
        flex-direction: column;
        padding: 4rem 0;
        height: 64rem;
    
    }
    .news-item__left img {
        width: 16em;
        height: 16em;
    }
    
}
