.news-list-container {
    /* background-color: rgb(245, 238, 238); */
    padding: var(--section-padding);
}

.news-header {
    color: var(--color-primary-light);
    margin-top: 2rem;
}
.news-list-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4rem;
    grid-gap: 1rem;
}

.test-content-paragraph {
    font-size: var(--font-size-medium);
}

@media screen and (max-width: 1024px) {

    .news-list-container {
        padding: 3em 3em;
    }
  
}


 @media screen and (max-width: 500px) {
    .news-list-container {
        padding: 3rem;

    } 
    .news-list-wrapper {
        margin-top: 6rem;

    } 
 }