.newsfeed-container {
    margin-top: 1rem;
    background-color: white;
    padding: 5rem;
}

.newsfeed-wrapper {
   padding: 5rem;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   grid-gap: 1.3rem;
}

@media screen and (max-width: 1024px) {

    .newsfeed-wrapper {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media screen and (max-width: 768px) {

    .newsfeed-container {
        padding: 2rem;
    }
    .newsfeed-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .newsfeed-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}