.top-exchanges-volume-container {
    padding: 2rem 0;
    background-color: white;
    margin-top: 10rem;
    padding-top: 2rem;
    border: 1px solid rgb(238, 229, 229);

}

.top-exchanges-volume-wrapper {
    margin-top: 6rem;
    display: grid;
    list-style: none;
    grid-template-columns: 20% 20% 20% 20% 20%;


}

.top-exchanges-volume-list {
    margin-left: 1em;
}

.top-exchanges-volume__item {
    margin-top: 2em;
}