.top-exchanges__container {
    background-color: var(--color-secondary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    color: white;
    line-height: 1.8;
}

.top-exchanges__name {
    
}

.top-exchanges__num-coins {

}