.top-gainer__container {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    box-shadow: 0 1rem 2rem rgba(68, 68, 64, 0.3);
    margin: .6rem;

}

.top-gainer__img {
    width: 28%;

}

.top-gainer__name {
    font-size: var(--font-size-medium);
    color: var(--color-primary-light);
    margin-top: 1rem;
}

.top-gainer__details {
    font-size: var(--font-size-small);
}

@media screen and (max-width: 1024px) {
    .top-gainer__container {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 500px) {
   
    .top-gainer__img {
        width: 15%;
    
    }
}

