.top-volumes-exchanges-container {
    padding: 0 0;
}

.top-volumes-exchanges-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}

@media screen and (max-width: 1024px) {
    .top-volumes-exchanges-wrapper {
        grid-template-columns: 1fr;
    }
}