.volumes-top-symbols__container {
    padding: 2rem 4rem;
    margin-top: 5rem;


}

.volumes-top-symbols__wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .volumes-top-symbols__wrapper {
        grid-template-columns: 1fr;
}
}