.wallet-container {
    height: 39em;
    width: 40rem;
    border: 1px solid rgb(248, 247, 247);
    padding: 3rem 3rem;
    border-radius: 3px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 1)), url("https://images.pexels.com/photos/844124/pexels-photo-844124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    margin: 1rem;
    

}

.wallet-head {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.wallet-logo {
    height: 5rem;
    width: 5rem;
}

.wallet-name {
    font-size: var(--font-size-medium);
    color: var(--color-primary-light);
    margin-top: .5em;
}


.wallet-details-list {
    margin-top: 2rem;
}

.wallet-details {
    font-size: var(--font-size-small);
    color: var(--color-primary-light);
}

@media screen and (max-width: 1024px) {
    .wallet-container {
        height: 41em;
        width: 35rem;
    }
}

@media screen and (max-width: 768px) {
    .wallet-container {
        height: 41em;
        width: 28.5rem;
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .wallet-container {
        height: 37em;
        width: 50rem;
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .wallet-container {
        height: 37em;
        width: 41.5rem;
    }
}


