.crypto-info {
  padding: 0.7rem;

  &__link {
    text-decoration: none;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    list-style: none;
    justify-items: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid lightgray;
    width: 100vw;

    li {
      color: var(--shaded-dark);
    }
  }
  &__languages {
    list-style: none;
  }
  &__infolink:hover {
    color: var(--primary-dark);
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
  }

  &__link:active {
    outline: none;
  }
}

@media screen and (max-width: 500px) {
 
}

@media screen and (max-width: 320px) {

}
