.switch-theme__btn {
  cursor: pointer;
}
.theme-switch {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 1.1rem;
  margin-right: .4rem;
}

@media screen and (max-width: 1024px) {
  .show-hide-text {
    display: inline-block;
    color: white;
    font-size: var(--font-size-mediumbig);
    margin-left: .5rem;
  }
}

@media screen and(max-width: 500px) {
  .theme-switch {
    font-size: 2.5em;
    margin-right: 2.6rem;
  }
}
