.view-crypto-container {
  // display: grid;
  // grid-template-columns: 15% 70% 15%;
  // align-items: center;
  padding: 6rem 3rem;
  position: relative;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .view-crypto-container {
    padding: 9rem 2rem;
  }

}
@media screen and (max-width: 500px) {
  .view-crypto-container {
    // grid-template-columns: 5% 90% 5%;
    padding: 5rem 0;
  }

}
