.view-wallet {
  padding: 2rem 3rem;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.7;
  border-radius: 2px;
  width: 60vw;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.view-wallet__exit-container {
  width: 53.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.view-wallet__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-wallet__coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-wallet__coins li {
  margin-left: .5rem;
}

.view-wallet__symbol {
  font-size: var(--font-size-medium);
  margin-left: 2rem;
}

.view-wallet__name {
  font-size: var(--font-size-medium);
  color: var(--color-primary-light);
}

.view-wallet__content {
  padding: 1rem 1rem;
}

.view-wallet__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: .5rem;
  justify-items: center;
  padding: 1rem 2rem;
}

.view-wallet__body span {
  font-weight: 700;
}

.view-wallet__data {
  font-size: var(--font-size-small);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-wallet__data span {
  margin-left: .4rem;
}

.view-wallet__data i {
  color: var(--overlay-mask);
}

.view-wallet__data a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--secondary);
}

.view-wallet ul {
  margin-left: .7rem;
}

.view-wallet ul li {
  margin-left: .5rem;
}

.back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.back-to__coins {
  font-size: var(--font-size-small);
  text-decoration: none;
}

.close-window {
  color: var(--yellow);
  margin-left: 1rem;
  text-decoration: none;
}

.close-window:hover {
  color: var(--color-secondary);
}

.view-wallet__header {
  font-size: var(--font-size-medium);
}

.view-wallet__img {
  width: 15%;
  margin-top: 1rem;
}

.header-symbol__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .view-wallet__background {
    padding: 0 3rem;
    background-color: lightslategrey;
    min-height: 100vh;
  }
  .view-wallet__container {
    padding: 0 1rem;
    min-height: 54vh;
  }
  .view-wallet__body {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 500px) {
  .view-wallet__background {
    padding: 3rem 0.5rem;
  }
  .view-wallet__container {
    padding: 0;
    line-height: 1.4;
  }
  .navigation-exit__container {
    width: 94vw;
  }
  .view-wallet__header {
    font-size: var(--font-size-medium);
  }
  .view-wallet__img {
    width: 15%;
    margin-top: 2rem;
  }
  .view-wallet__name,
  .view-wallet__symbol {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
  }
  .view-wallet__content {
    padding: 6rem 0rem;
  }
  .view-wallet__body {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 320px) {
  .navigation-exit__container {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */