.view-wallet {
  padding: 2rem 3rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.7;
  border-radius: 2px;
  width: 60vw;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

  &__exit-container {
    width: 53.5vw;
    display: flex;
    justify-content: flex-end;
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__coins {
      display: flex;
      justify-content: space-around;
      list-style: none;
      flex-wrap: wrap;
      li {
          margin-left: .5rem;
      }
  }
  &__symbol {
    font-size: var(--font-size-medium);
  
    margin-left: 2rem;
  }
  &__name {
    font-size: var(--font-size-medium);
    color: var(--color-primary-light);
  }

  &__content {
    padding: 1rem 1rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: .5rem;
    justify-items: center;
    padding: 1rem 2rem;
    span {
        font-weight: 700;
    }
  }

  &__data {
    font-size: var(--font-size-small);
    display: flex;
        justify-content: flex-start;
        align-items: center;
    span {
        margin-left: .4rem;
    }
    i {
        color: var(--overlay-mask);
        font-size: 1.2em;
        margin-right: .4em;
    }
    a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        color: var(--secondary);
       
    }
  }

  ul {
      margin-left: .7rem;
      li {
          margin-left: .5rem;
      }
  }
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.back-to__coins {
  font-size: var(--font-size-small);
  text-decoration: none;
}

.close-window {
  color: var(--yellow);
  margin-left: 1rem;
  text-decoration: none;
}

.close-window:hover {
  color: var(--color-secondary);
}


.view-wallet__header {
  font-size: var(--font-size-medium);
}

.view-wallet__img {
  width: 15%;
  margin-top: 1rem;
}

.header-symbol__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .view-wallet__background {
    padding: 0 3rem;
    background-color: lightslategrey;
    min-height: 100vh;
  }
  .view-wallet__container {
    padding: 0 1rem;
    min-height: 54vh;
  }

  .view-wallet__body {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 500px) {
  .view-wallet {
    padding: 3rem 0.5rem;
    min-height: 80vh;
    width: 100vw;
    &__exit-container {
      width: 94vw;
    }
  }

  .view-wallet__header {
    font-size: var(--font-size-medium);
  }

  .view-wallet__img {
    width: 15%;
    margin-top: 2rem;
  }

  .view-wallet__name,
  .view-wallet__symbol {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
  }

  .view-wallet__content {
    padding: 6rem 0rem;
  }

  .view-wallet__body {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 320px) {
  .navigation-exit__container {
    margin-top: 2rem;
  }
}
