.saved-currency-table {
    margin-top: 2rem;
    &__header {
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    &__row {
        display: grid;
        grid-template-columns: 12% 12% 19% 36% 12% 7%;
        justify-items: flex-start;
        align-items: center;
        // margin: .3rem;
        min-width: 34rem;
        border-top: 1px solid rgba(192, 183, 183, 0.5);
        padding: .5rem .6rem;
        border-radius: 5px;
        box-shadow: 0 .1rem .1rem rgba(212, 206, 206, 0.3);
        td {
            padding: .2rem .4rem;
        }
    }
}
@media screen and (max-width: 500px) {
    .saved-currency-table {
        &__row {
            min-width: 45rem;
            font-size: var(--font-size-small);
        }
    }
}