.top-volume-card-container {
    height: 34em;
    border: 1px solid rgb(248, 247, 247);
    padding: 3rem 1rem;
    border-radius: 2px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 1)), url("https://images.pexels.com/photos/844124/pexels-photo-844124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    

}

.top-volume-head {
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-volume-image {
    width: 31%;
}

.top-volume-name {
    font-size: var(--font-size-medium);
    color: var(--color-primary-light);
    text-align: center;
    margin-top: .5em;
}

.top-volume-card-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-volume-details {
    font-size: var(--font-size-small);
    color: var(--color-primary-light);
}

@media screen and (max-width: 500px) {
    .top-volume-details {
        font-size: var(--font-size-verysmall);
    }
}