.market-cap-crypto-container {
    padding: 3rem 8rem;
    background-color: white;
    margin: 2rem;

}

.market-cap-wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 21em, 1fr));
    grid-gap: 2rem;
    justify-items: center;


}

.market-cap-card-details {
    list-style: none;
    flex-direction: row;
    flex-wrap:wrap;
}

.market-cap-card-values {
    width: 15rem;
}

@media screen and (max-width: 500px) {

    .market-cap-crypto-container {
        padding: 3rem 0rem;
               
}

    .market-cap-wrapper {
        grid-gap: 1rem;
    }
}