.view-exchange {
  padding: 2rem 3rem;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.7;
  border-radius: 2px;
  width: 75vw;
  -webkit-box-shadow: 0 0rem 1rem rgba(54, 51, 51, 0.5);
          box-shadow: 0 0rem 1rem rgba(54, 51, 51, 0.5);
}

.view-exchange__exit-container {
  width: 67.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.view-exchange__header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-exchange__coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-exchange__coins li {
  margin-left: 0.5rem;
}

.view-exchange__symbol {
  font-size: var(--font-size-medium);
  margin-left: 2rem;
}

.view-exchange__name {
  font-size: var(--font-size-medium);
  color: var(--color-primary-light);
}

.view-exchange__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.2rem;
}

.view-exchange__content {
  padding: 1rem 1rem;
}

.view-exchange__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 0.5rem;
  justify-items: center;
  padding: 1rem 2rem;
}

.view-exchange__body span {
  font-weight: 700;
}

.view-exchange__data {
  font-size: var(--font-size-small);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-exchange__data span {
  margin-left: 0.4rem;
}

.view-exchange__data i {
  color: var(--overlay-mask);
}

.view-exchange__data a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--secondary);
}

.view-exchange ul {
  margin-left: 0.7rem;
}

.view-exchange ul li {
  margin-left: 0.5rem;
}

.back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.back-to__coins {
  font-size: var(--font-size-small);
  text-decoration: none;
}

.close-window {
  color: var(--yellow);
  margin-left: 1rem;
  text-decoration: none;
}

.close-window:hover {
  color: var(--color-secondary);
}

.view-exchange__header {
  font-size: var(--font-size-medium);
}

.view-exchange__img {
  width: 80%;
  margin-top: 1rem;
}

.header-symbol__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .view-exchange__background {
    padding: 0 3rem;
    background-color: lightslategrey;
    min-height: 100vh;
  }
  .view-exchange__container {
    padding: 0 1rem;
    min-height: 54vh;
  }
  .view-exchange__body {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 500px) {
  .view-exchange__background {
    padding: 3rem 0.5rem;
  }
  .view-exchange {
    padding: 0;
    line-height: 1.4;
    width: 100vw;
  }
  .view-exchange__exit-container {
    margin-top: 1.3rem;
    width: 97.5vw;
  }
  .view-exchange__header-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .view-exchange__body {
    margin-top: 3.5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .view-exchange__data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .view-exchange__name, .view-exchange__symbol {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
  }
  .view-exchange__header {
    font-size: var(--font-size-medium);
    text-align: center;
  }
  .view-exchange__img {
    width: 15%;
    margin-top: 2rem;
  }
  .view-exchange__content {
    padding: 6rem 0rem;
  }
}

@media screen and (max-width: 320px) {
  .navigation-exit__container {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */