.wallet {
  min-height: 20em;
  width: 17rem;
  border: 1px solid #f8f7f7;
  padding: 2rem 1rem;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  margin: 1rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
  }
  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: var(--primary);
    }
  }

  &__logo {
    height: 5rem;
    width: 5rem;
  }

  &__name {
    font-size: var(--font-size-small);
    color: var(--color-primary-light);
    margin-top: 1rem;
  }

  &__details-list {
    margin-top: 2rem;
    p {
      font-size: var(--font-size-small);
      color: var(--color-primary-light);
    }
  }
  summary {
    font-family: 'Lato';
  }
  &__view {
    text-decoration: none;
    margin-top: 1rem;
  }
}

.light {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.97),
    rgba(255, 255, 255, 1)
  ),
  url('https://images.pexels.com/photos/844124/pexels-photo-844124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.dark {
  background-image: linear-gradient(
    rgba(59, 55, 55, 0.97),
    rgb(44, 43, 43)
  ),
  url('https://images.pexels.com/photos/844124/pexels-photo-844124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

@media screen and (max-width: 1024px) {
  .wallet {
    height: 26em;
    width: 19rem;
  }
}

@media screen and (max-width: 768px) {
  .wallet {
    height: 27em;
    width: 24.5rem;
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .wallet {
    height: 37em;
    width: 36rem;
    padding: 6rem 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .wallet {
    height: 37em;
    width: 38rem;
  }
}
