.volume-item-container {
    border: 1px solid rgb(238, 229, 229);
    padding: 1.5em 0;
    border-radius: 3px;
    
 
}

.volume-item-list {
    list-style: none; 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items:center;


}

.volume-list__item {
    font-size: var(--font-size-small);
    color: var(--color-primary-light);
    margin-top: 1rem;
    margin-left: 5em;
   
}

.bigger-text {
    font-size: var(--font-size-small);
    color: var(--color-primary-light);
    align-self: center;
}