.header-container {
  background-position: center;
  background-size: cover;
  position: fixed;
  padding: 2.5rem 2rem;
  width: 100vw;
  height: 7.5rem;
  margin-top: 4.5rem;
  z-index: 2;
  transition: ease-in-out 0.6s;
  :hover {
    z-index: 4;
  }
}

.header-wrapper,
.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  width: 94vw;
  padding: 0.8rem;
  margin-top: 0;
}
