.navbar {
  background-image: linear-gradient(135deg, #666fea 0%, #1965a3 100%);
  background-color: var(--color-secondary-dark);
  background-image: var(--color-navbar-day);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  width: 55%;
  margin-top: .3rem;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  opacity: 0.9;
  margin: 0 2em;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.navbar__link:hover {
  color: var(--primary-light);
  -webkit-transform: translateY(-0.05rem);
          transform: translateY(-0.05rem);
}

.navbar__link:focus {
  color: var(--yellow);
  font-weight: 700;
}

.navbar__link i {
  font-size: 1.5rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

.nav-dropdown[open] .nav-summary__dropdown {
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
  height: 12rem;
  background-color: var(--color-secondary-dark);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.81rem;
  position: absolute;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.nav-summary {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  outline: none;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  .show-tablet {
    display: block;
  }
  .navbar {
    height: 5rem;
  }
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-list {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .nav-list.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 102vh;
    width: 102vw;
    position: fixed;
    top: -2%;
    left: -2%;
    padding: 0;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    opacity: 0.98;
    background-image: var(--color-navbar-day);
    line-height: 2;
    z-index: 5;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: var(--font-size-mediumbig);
    margin: 0 0.7em;
  }
  .navbar-link {
    border-top: 2px solid rgba(229, 246, 252, 0.3);
    width: 100%;
  }
  .nested-link {
    margin-left: 8rem;
    font-size: var(--font-size-medium);
  }
  .navbar-links.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .navbar-links.close {
    display: none;
  }
  .nav-dropdown[open] .nav-summary__dropdown {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .onoffswitch {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */