.navbar {
  // background-image: linear-gradient(135deg, #666fea 0%, #1965a3 100%);
  // background-color: var(--color-secondary-dark);
  //background-image: var(--color-navbar-day);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  &__logo {
    width: 55%;
    margin-top: .3rem;
    z-index: 6;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__link {
    opacity: 0.9;
    margin: 0 2em;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #8f5ac5;
    display: flex;
    align-items: center;
    :hover {
      color: var(--light);
      transform: translateY(-0.05rem);
    }
    &__icon {
      font-size: 1.5rem;
      :hover {
        color: var(--primary);
      }
    &:focus {
      color: var(--yellow);
      font-weight: 700;
    }
    }
    span {
      margin-left: .3em;
    }
  }
}

.navbar.active {
  background-color: var(--primary);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 33%;
  left: 0%;
  background-color: var(--primary);
  height: 100vh;
  .nav-list li:hover {
    background-color: white;
  }
}


@keyframes fade-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.nav-summary {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  outline: none;
}

.hide-desktop {
  display: none;
}

  .show-tablet-mobile {
    display: inline-block;
  }
  .navbar {
    ul {
      li a {
        font-size: var(--font-size-medium);
      }

    }
    &__logo {
      width: 3.8em;
    }
  }

  .nav-list {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  .nav-list.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: 0 25px 0 0;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    padding: 0;
    transition: all cubic-bezier(0.4, 0, 1, 1) .02s;
    opacity: 0.98;
    background-image: var(--color-navbar-day);
    line-height: 2;
    z-index: -1;
    top: 0;
    right: 0;
    // text-transform: uppercase;
    color: white;
    text-align: center;
    :hover {
      color: white;
      padding: .14rem;
      transition: .2s ease-in-out;
      color: var(--light);
      border-radius: 25px 0 0 25px;

      ::before {
        border-radius: 25px 0 0 25px;
      }
    }
  }

  .nav-list.open .navbar-link:hover {
    background-color: white;
  }

  .navbar-link {
    border-top: 2px solid rgba(229, 246, 252, 0.3);
    width: 100%;
  }

  .nested-link {
    margin-left: 8rem;
    font-size: var(--font-size-medium);
  }

  .currency-icon {
    font-size: 1.3em;
    color: white;
  }

@media screen and (max-width: 1024px) {
  .show-tablet-mobile {
    display: inline-block;
  }
  .navbar {
    height: 5rem;
    ul {
      li a {
        font-size: var(--font-size-big);
      }
    }
    &__logo {
      width: 3.8em;
    }
  }
  .nav-list {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: var(--font-size-mediumbig);
    margin: 0 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .nav-list.open {
    width: 55vw;
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    &__icon {
      font-size: 1.8rem;
  }
}
  .nav-list.open {
    width: 100vw;
  }
  .currency-icon {
    font-size: 2rem;
    margin-right: 3rem;
  }
}

