.currency-converter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    border: 2px solid var(--color-secondary-dark);
    padding: 2rem 2rem;
    margin-top: 2rem;
    width: 25rem;
    height: 27rem;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    label {
        font-size: var(--font-size-small);
        margin-top: .4rem;
      }
    
      .inputs-arrows__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;      
      }
      &__btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
      }
      &__btn-save {
        border: none;
        background: none;
        cursor: pointer;
        margin-top: .6rem;
        i {
          margin-left: 1rem;
          font-size: 33px;
          color: var(--primary);
          &:hover {
            color: var(--primary-light);
          }
        }
      }
      input,
      select {
        width: 16.5rem;
        margin-top: 0.5rem;
        padding: 0.6rem;
        font-family: 'Lato', sans-serif;
        font-size: var(--font-size-small);
        // border: none;
        border-radius: 5px;
      }
      
.arrow {
    color: var(--color-secondary-dark);
    margin-left: 0.1rem;
  }
  
  .switch {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .switch:focus {
    outline: none;
  }
  
  .calculate-btn {
    padding: .7rem;
    width: 16.5rem;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .result-container {
    margin-top: 2rem;
    font-size: var(--font-size-small);
    display: flex;
  }
  
  .result-symbol {
    margin-left: 1rem;
  }

}


@media screen and (max-width: 500px) {
    .currency-converter-form {
        margin-top: 2rem;
        width: 43rem;
        height: 43rem;
        border-radius: 25px;
        .inputs-arrows__container {
          input {
            width: 23rem;
         }
         select {
          width: 30rem; 
        }
        &__btn-save i {
          margin-left: 1rem;
          margin-top: .4rem;
          font-size: 26px;
      }
      .calculate-btn {
        width: 36rem;
        margin-top:.6rem;
      }
      }
     
      }
     
  }
  
  @media screen and (max-width: 320px) {
    .currency-converter-form {
        padding: 0rem 1rem;
        margin-top: 2rem;
        border-radius: 25px;
      }
  }