.wallets {
  padding: 13rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__header {
    margin-top: 3rem;
  }
  &__wrapper {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .wallets-container {
    padding: 2rem 1rem;
  }

  .wallets-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .wallets {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
}

@media screen and (max-width: 500px) {
  .wallets {
    padding: 15rem 2rem;
  &__wrapper {
    grid-template-columns: 1fr;
  }
  }

}
