.view-crypto {
  padding: 2rem 3rem;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.7;
  background-color: white;
  border-radius: 2px;
  width: 70vw;
}

.view-crypto__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 4.5rem;
  justify-items: center;
  padding: 1rem 2rem;
}

.crypto-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-exit__container {
  width: 63vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-to__coins {
  font-size: var(--font-size-small);
  text-decoration: none;
}

.close-window {
  color: var(--color-secondary-dark);
  margin-left: 1rem;
  text-decoration: none;
}

.close-window:hover {
  color: var(--color-secondary-light);
}

.view-crypto__content {
  padding: 2rem 2rem;
}

.view-crypto__header {
  font-size: var(--font-size-medium);
}

.view-crypto__img {
  width: 13%;
  margin-top: 1rem;
}

.header-symbol__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-crypto__symbol {
  font-size: var(--font-size-medium);
  margin-left: 2rem;
}

.view-crypto__name {
  font-size: var(--font-size-medium);
  color: var(--color-primary-light);
}

.crypto-content__data {
  font-size: var(--font-size-small);
}

@media screen and (max-width: 1024px) {
  .view-crypto__background {
    padding: 0 3rem;
    background-color: lightslategrey;
    min-height: 100vh;
  }
  .view-crypto {
    padding: 0 1rem;
    min-height: 54vh;
  }
  .crypto-content__body {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 500px) {
  .view-crypto__background {
    padding: 3rem 0.5rem;
  }
  .view-crypto {
    padding: 0;
    line-height: 1.4;
    width: 90vw;
  }
  .view-crypto__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .navigation-exit__container {
    width: 87vw;
    margin-top: 1rem;
    width: 94vw;
  }
  .view-crypto__header {
    font-size: var(--font-size-medium);
  }
  .view-crypto__img {
    width: 15%;
    margin-top: 2rem;
  }
  .view-crypto__name,
  .view-crypto__symbol {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
  }
  .view-crypto__content {
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .navigation-exit__container {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */