

.crypto-values-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    
}

.crypto-value {
    font-weight: 400;
    font-size: var(--font-size-small);
    align-self: start;
    
}



.bold {
    font-weight: 700;
}

.blue-text {
    color: var(--color-secondary-light);
}

@media screen and (max-width: 500px) {
    .crypto-values {
        padding: 1em 0;
    }

    .crypto-vales-list {
        grid-template-columns: 2% 5% 10% 15% 10% 15%;
        padding: .5rem 0 .5rem 0rem;
    }
    .crypto-value {
        font-size: var(--font-size-verysmall);
    }
}