.news-item {
    padding: 2rem;
    line-height: 1;
   
}

.news-item__right a {
    text-decoration: none;
    color: var(--color-primary-dark)
}

.news-item__left img {
    width: 100%;
    border-radius: 3px;
}

.news-header {
    font-size: var(--font-size-medium);
    margin-top: 1rem;
}
.news-item-paragraph {
    font-size: var(--font-size-small);
    line-height: 1.3;
    margin-top: 1rem;
}

.categories {
    color: var(--color-secondary-dark);
    margin-top: 1rem;
    font-size: var(--font-size-verysmall);
}

@media screen and (max-width: 768px) {

    .news-item {
        width: 100vw;
        display: flex;
        padding: 3em 3em;
        align-items: center;
    
    }

    .news-item__left img {
        width: 13em;
        height: 13em;
    }

    .news-item__right {
        margin-left: 1.4em;
    }

}

@media screen and (max-width: 500px) {

    .news-item__left img {
        width: 10em;
        height: 10em;
    }
    .news-item__hide-mobile {
        display: none;
    }
}
