* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* color-palette */

  --color-primary-light: rgb(83, 62, 83);
  --color-primary-dark: rgb(32, 25, 32);
  --color-secondary-light: rgb(43, 199, 219);
  --color-secondary-light-hover: rgb(27, 203, 216);
  --color-secondary-dark: rgb(25, 90, 174);
  --color-warning: rgb(255, 0, 98);
  --color-night-mode: #121212;
  --color-navbar-day: linear-gradient(135deg, #666fea 0%, #1965a3 100%);
  --color-navbar-night: linear-gradient(135deg, #af66ea 0%, #C38FFF 100%);
  
  --font-size-big: 5rem; 
  --font-size-mediumbig: 3.5rem;
  --font-size-medium: 2.4rem;
  --font-size-small: 1.8rem;
  --font-size-verysmall: 1.3rem;

  --section-padding: 5rem 20em;
  
} 


html {
  font-size: 62.5%;

}

@media(max-width: 1250px) {
  html {
      font-size: 56%;
  }
}

@media(max-width: 800px) {
  html {
      font-size: 50%;
  }
}

@media(max-width: 500px) {
  html {
      font-size: 42%;
  }
}

body {

  font-family: 'Lato', sans-serif;



}


.App {
  min-height: 100%;
  overflow: hidden;

}

.main-center-header {
  text-align: center;
  font-size: var(--font-size-medium);
  /* color: var(--color-primary-light); */
  margin-top: 3rem;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.warning {
  margin-top: 2rem;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--color-warning);
}


