form {
    padding: 2rem;
    margin-top: -3rem;
}

.Search-Container {
    align-self: center;
    display: flex;
}

.Search-Bar {
    width: 30rem;
    height: 3.5rem;
    border: none;
    border-radius: 25px;
    padding: 0 0 0 1rem;
}

.Btn-Search {
    padding: 0.49rem;
    background-color: var(--color-primary-light);
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 25px;
}

.Btn-Search:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-.05rem);

}