.news-list-container {
    background-color: white;
    padding: 4rem 3em;
}

.news-header {
    color: var(--color-primary-light);
}
.news-list-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4rem;
}
.test-content-paragraph {
    font-size: var(--font-size-medium);
}

@media screen and (max-width: 768px) {

    .news-list-container {
        padding: 3em 0;
    }
   .news-list-wrapper {
       grid-template-columns: repeat(4, 1fr);
   } 
}

@media screen and (max-width: 500px) {
    .news-list-wrapper {
        grid-template-columns: 1fr;
    } 
 }