.crypto-container {
  padding: 0;
  width: 100%;
  padding: 18rem 0;
  padding-bottom: 2rem;
  thead {
    position: fixed;
    top: 13%;
    left: 0%;
    margin-bottom: 6rem;
    width: 100vw;
  }
  tbody {
    padding-top: 10%;
  }
}
