.exchanges {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    thead {
        // position: fixed;
        top: 2%;
        left: 0%;
        margin-bottom: 1rem;
        width: 100vw;
      }
      tbody {
        padding-top: 1%;
      }
    &__header {
      margin-top: 13rem;
      margin-left: 7rem;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: stretch;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .exchanges {
      padding: 20rem 2rem;
  }
}
  
  @media screen and (max-width: 768px) {
    .exchanges-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    .exchanges-container {
      padding: 2rem 2rem;
    }
  
    .exchanges-wrapper {
      grid-template-columns: 1fr;
    }
  }
  